.header{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background: #F0F0F0;
    border-radius: 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}